1. **Create an Amazon Database**:
   - This likely refers to setting up a database schema or using a database service to store data.

2. **Create Two New Tables**:
   - 2.1
        - **`products` table**: Should contain columns for(
            -   `name`,
            -   `price`,
            -   `category` (likely a foreign key relation), and
            -   `description`.
    - 2.2
        - **`category` table**: Should have a column for
            -   `name`.

3. **Insert New Data into Tables**:
   - Populate the `products` and `category` tables with data.

4. **Download Data**:
   - Using a dummy data website,
   - download 100 products and 10 categories in JSON or CSV format.

5. **Bulk Insert Data**:
   - Insert the downloaded data into the `products` and `category` tables.

6. **Select All Products**:
   - Retrieve all products from the database.

7. **Select Products with Price Greater Than 30**:
   - Filter products where the price is more than 30.

8. **Get Products by Category**:
   - Retrieve products belonging to a specific category (`any_category_name`).

9. **Count Products in Each Category**:
   - Count the number of products in each category.

10. **Export Products into CSV**:
    - Export the product data to a CSV file.

In [1]:
from peewee import(SqliteDatabase,
                   Model,
                   CharField,
                   IntegerField,
                   ForeignKeyField)

In [2]:
db = SqliteDatabase('Amazon.db')
print(f"{SqliteDatabase}")

<class 'peewee.SqliteDatabase'>

---

- 2.2
    - **`category` table**: Should have a column for
        -   `name`.

In [3]:
class BaseModel(Model):
    class Meta:
        database = db
print(f"{BaseModel}")

<Model: BaseModel>

In [4]:
class Category(BaseModel):
    name = CharField(unique=True)
print(f"{Category}")

<Model: Category>

---

- 2.1    
    - **`products` table**: Should contain columns for(
        -   `name`,
        -   `price`,
        -   `category` (likely a foreign key relation), and
        -   `description`.

In [5]:
class Products(BaseModel):
    name = CharField(unique=True)
    price = IntegerField()
    category = ForeignKeyField(Category, backref='category')
    description = CharField()
print(f"{Products}")

<Model: Products>

In [6]:
db.connect()
db.create_tables([Category, Products])
#print(f"{connect}{create_tables}")

---

In [7]:
import csv
from faker import Faker

faker = Faker()

categories = [faker.word() for _ in range(5)] 
amazon_data = []

for _ in range(100): 
    products_name = faker.sentence(nb_words=3)
    products_price = faker.random_int(min=100, max=1000)
    category = faker.random_element(categories)
    products_description = faker.text(max_nb_chars=200)
    amazon_data.append({
        "name": products_name,
        "price": products_price,
        "category": category,
        "description": products_description
    })

with open('amazon_data.csv', mode='w', newline='', encoding='utf-8') as file:
    writer = csv.DictWriter(file, fieldnames=["name", "price", "category", "description"])
    writer.writeheader()
    writer.writerows(amazon_data)

print("Data exported to amazon_data.csv successfully.")

Data exported to amazon_data.csv successfully.

---

In [8]:
import csv
from peewee import IntegrityError

csv_file_path = 'amazon_data.csv'

with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
            category, created = Category.get_or_create(name=row['category'])
            
            Products.create(
                name=row['name'],
                price=float(row['price']),
                category=category,
                description=row['description']
            )
print(f"{csv_file_path}")

amazon_data.csv

---

6. **Select All Products**:
   - Retrieve all products from the database.

7. **Select Products with Price Greater Than 30**:
   - Filter products where the price is more than 30.

8. **Get Products by Category**:
   - Retrieve products belonging to a specific category (`any_category_name`).

9. **Count Products in Each Category**:
   - Count the number of products in each category.

10. **Export Products into CSV**:
    - Export the product data to a CSV file.

6. **Select All Products**:

In [9]:
All_Products=Products.select()
for product in All_Products:
    print(f"Name: ID:{product.id}, {product.name}, Price: {product.price}, Category: {product.category.name}")

Name: ID:1, Party agree., Price: 283, Category: wide
Name: ID:2, Least there., Price: 730, Category: just
Name: ID:3, Third establish actually beyond., Price: 368, Category: just
Name: ID:4, Poor particularly unit within., Price: 571, Category: work
Name: ID:5, Main what century manager., Price: 637, Category: cold
Name: ID:6, Fly protect., Price: 657, Category: Mrs
Name: ID:7, Opportunity food., Price: 742, Category: Mrs
Name: ID:8, Play general first., Price: 872, Category: work
Name: ID:9, Determine top game., Price: 234, Category: wide
Name: ID:10, Computer first collection cell., Price: 697, Category: work
Name: ID:11, Fear since., Price: 641, Category: just
Name: ID:12, Capital painting collection., Price: 509, Category: wide
Name: ID:13, Necessary feeling box., Price: 909, Category: just
Name: ID:14, Hope imagine., Price: 138, Category: Mrs
Name: ID:15, Indeed yes., Price: 395, Category: cold
Name: ID:16, Executive reason., Price: 539, Category: work
Name: ID:17, Probably end relationship share., Price: 297, Category: work
Name: ID:18, Open population., Price: 486, Category: Mrs
Name: ID:19, Story last theory., Price: 486, Category: cold
Name: ID:20, Shoulder all., Price: 723, Category: just
Name: ID:21, Traditional night else smile., Price: 798, Category: cold
Name: ID:22, On impact say., Price: 279, Category: wide
Name: ID:23, Include relationship against., Price: 877, Category: cold
Name: ID:24, Mrs nation., Price: 452, Category: wide
Name: ID:25, Population magazine hear., Price: 100, Category: wide
Name: ID:26, In wrong yes., Price: 225, Category: just
Name: ID:27, Establish staff., Price: 220, Category: wide
Name: ID:28, Peace heavy town., Price: 582, Category: just
Name: ID:29, Whether other ok., Price: 859, Category: wide
Name: ID:30, Explain thus., Price: 520, Category: work
Name: ID:31, Current purpose production., Price: 115, Category: just
Name: ID:32, Else check., Price: 960, Category: wide
Name: ID:33, Wrong change., Price: 943, Category: work
Name: ID:34, More minute tree., Price: 557, Category: wide
Name: ID:35, Perhaps age factor., Price: 394, Category: Mrs
Name: ID:36, Response., Price: 754, Category: Mrs
Name: ID:37, Recognize matter., Price: 426, Category: Mrs
Name: ID:38, Right what should., Price: 306, Category: Mrs
Name: ID:39, Exactly., Price: 638, Category: wide
Name: ID:40, Condition drive establish., Price: 905, Category: Mrs
Name: ID:41, Mention time., Price: 131, Category: just
Name: ID:42, Real herself., Price: 734, Category: cold
Name: ID:43, Back voice., Price: 422, Category: cold
Name: ID:44, Read think., Price: 901, Category: just
Name: ID:45, Likely true., Price: 674, Category: cold
Name: ID:46, None., Price: 384, Category: work
Name: ID:47, Pretty happen., Price: 773, Category: wide
Name: ID:48, Indicate long., Price: 179, Category: just
Name: ID:49, Lay effort., Price: 649, Category: work
Name: ID:50, Front marriage base., Price: 387, Category: Mrs
Name: ID:51, Music coach appear., Price: 330, Category: cold
Name: ID:52, Suffer around Congress., Price: 663, Category: just
Name: ID:53, American still., Price: 525, Category: wide
Name: ID:54, Hope newspaper., Price: 491, Category: Mrs
Name: ID:55, Wife increase., Price: 351, Category: cold
Name: ID:56, Couple know., Price: 858, Category: just
Name: ID:57, Maintain much someone., Price: 330, Category: work
Name: ID:58, Shoulder minute case., Price: 754, Category: wide
Name: ID:59, Crime look., Price: 527, Category: cold
Name: ID:60, Tonight leg., Price: 739, Category: wide
Name: ID:61, Simply new yard., Price: 399, Category: cold
Name: ID:62, Discover owner from., Price: 607, Category: just
Name: ID:63, Might event., Price: 334, Category: Mrs
Name: ID:64, Religious reach., Price: 751, Category: cold
Name: ID:65, Business society., Price: 453, Category: wide
Name: ID:66, Particularly., Price: 178, Category: cold
Name: ID:67, Dream answer whatever heavy., Price: 550, Category: cold
Name: ID:68, Control administration., Price: 655, Category: cold
Name: ID:69, Degree., Price: 564, Category: Mrs
Name: ID:70, Mention industry., Price: 108, Category: cold
Name: ID:71, Power action operation., Price: 224, Category: Mrs
Name: ID:72, She environmental., Price: 515, Category: Mrs
Name: ID:73, While., Price: 407, Category: cold
Name: ID:74, Fine understand., Price: 330, Category: Mrs
Name: ID:75, Land at., Price: 119, Category: work
Name: ID:76, Particularly dark physical., Price: 953, Category: work
Name: ID:77, Part picture be., Price: 523, Category: wide
Name: ID:78, Never candidate., Price: 891, Category: cold
Name: ID:79, Range although country., Price: 573, Category: just
Name: ID:80, Agree issue., Price: 227, Category: work
Name: ID:81, Bill affect., Price: 127, Category: work
Name: ID:82, He box., Price: 459, Category: Mrs
Name: ID:83, Describe pay., Price: 495, Category: just
Name: ID:84, Coach perform especially., Price: 492, Category: Mrs
Name: ID:85, Forget purpose mention., Price: 343, Category: cold
Name: ID:86, Area., Price: 530, Category: cold
Name: ID:87, As establish., Price: 340, Category: Mrs
Name: ID:88, Although save employee., Price: 841, Category: Mrs
Name: ID:89, Remain page economy., Price: 400, Category: work
Name: ID:90, Politics anything., Price: 733, Category: wide
Name: ID:91, Figure., Price: 800, Category: Mrs
Name: ID:92, Player water., Price: 314, Category: Mrs
Name: ID:93, Cut machine., Price: 291, Category: cold
Name: ID:94, Show actually lot industry., Price: 465, Category: Mrs
Name: ID:95, Likely., Price: 818, Category: work
Name: ID:96, First though., Price: 678, Category: Mrs
Name: ID:97, Process., Price: 405, Category: work
Name: ID:98, Blood list national., Price: 968, Category: wide
Name: ID:99, Close one., Price: 242, Category: Mrs
Name: ID:100, Lead hot., Price: 390, Category: just

7. **Select Products with Price Greater Than 30**:
   - Filter products where the price is more than 30.

In [11]:
from peewee import fn
Select_Product = All_Products.where(Products.price < 500)
for product in Select_Product:
    print(f"Name: ID:{product.id}, {product.name}, Price: {product.price}, Category: {product.category.name}")

Name: ID:1, Party agree., Price: 283, Category: wide
Name: ID:3, Third establish actually beyond., Price: 368, Category: just
Name: ID:9, Determine top game., Price: 234, Category: wide
Name: ID:14, Hope imagine., Price: 138, Category: Mrs
Name: ID:15, Indeed yes., Price: 395, Category: cold
Name: ID:17, Probably end relationship share., Price: 297, Category: work
Name: ID:18, Open population., Price: 486, Category: Mrs
Name: ID:19, Story last theory., Price: 486, Category: cold
Name: ID:22, On impact say., Price: 279, Category: wide
Name: ID:24, Mrs nation., Price: 452, Category: wide
Name: ID:25, Population magazine hear., Price: 100, Category: wide
Name: ID:26, In wrong yes., Price: 225, Category: just
Name: ID:27, Establish staff., Price: 220, Category: wide
Name: ID:31, Current purpose production., Price: 115, Category: just
Name: ID:35, Perhaps age factor., Price: 394, Category: Mrs
Name: ID:37, Recognize matter., Price: 426, Category: Mrs
Name: ID:38, Right what should., Price: 306, Category: Mrs
Name: ID:41, Mention time., Price: 131, Category: just
Name: ID:43, Back voice., Price: 422, Category: cold
Name: ID:46, None., Price: 384, Category: work
Name: ID:48, Indicate long., Price: 179, Category: just
Name: ID:50, Front marriage base., Price: 387, Category: Mrs
Name: ID:51, Music coach appear., Price: 330, Category: cold
Name: ID:54, Hope newspaper., Price: 491, Category: Mrs
Name: ID:55, Wife increase., Price: 351, Category: cold
Name: ID:57, Maintain much someone., Price: 330, Category: work
Name: ID:61, Simply new yard., Price: 399, Category: cold
Name: ID:63, Might event., Price: 334, Category: Mrs
Name: ID:65, Business society., Price: 453, Category: wide
Name: ID:66, Particularly., Price: 178, Category: cold
Name: ID:70, Mention industry., Price: 108, Category: cold
Name: ID:71, Power action operation., Price: 224, Category: Mrs
Name: ID:73, While., Price: 407, Category: cold
Name: ID:74, Fine understand., Price: 330, Category: Mrs
Name: ID:75, Land at., Price: 119, Category: work
Name: ID:80, Agree issue., Price: 227, Category: work
Name: ID:81, Bill affect., Price: 127, Category: work
Name: ID:82, He box., Price: 459, Category: Mrs
Name: ID:83, Describe pay., Price: 495, Category: just
Name: ID:84, Coach perform especially., Price: 492, Category: Mrs
Name: ID:85, Forget purpose mention., Price: 343, Category: cold
Name: ID:87, As establish., Price: 340, Category: Mrs
Name: ID:89, Remain page economy., Price: 400, Category: work
Name: ID:92, Player water., Price: 314, Category: Mrs
Name: ID:93, Cut machine., Price: 291, Category: cold
Name: ID:94, Show actually lot industry., Price: 465, Category: Mrs
Name: ID:97, Process., Price: 405, Category: work
Name: ID:99, Close one., Price: 242, Category: Mrs
Name: ID:100, Lead hot., Price: 390, Category: just

---

8. **Get Products by Category**:
   - Retrieve products belonging to a specific category (`any_category_name`).

In [13]:
category_name = 'wide'

# الحصول على كائن الفئة من جدول الفئات باستخدام الاسم
try:
    category = Category.get(Category.name == category_name)

    # استرجاع جميع المنتجات التي تنتمي إلى هذه الفئة
    products_in_category = Products.select().where(Products.category == category)

    # عرض النتائج
    for product in products_in_category:
        print(f"Name: ID: {product.id}, {product.name}, Price: {product.price}, Category: {product.category.name}")

except Category.DoesNotExist:
    print(f"No category with the name '{category_name}' found.")

Name: ID: 1, Party agree., Price: 283, Category: wide
Name: ID: 9, Determine top game., Price: 234, Category: wide
Name: ID: 12, Capital painting collection., Price: 509, Category: wide
Name: ID: 22, On impact say., Price: 279, Category: wide
Name: ID: 24, Mrs nation., Price: 452, Category: wide
Name: ID: 25, Population magazine hear., Price: 100, Category: wide
Name: ID: 27, Establish staff., Price: 220, Category: wide
Name: ID: 29, Whether other ok., Price: 859, Category: wide
Name: ID: 32, Else check., Price: 960, Category: wide
Name: ID: 34, More minute tree., Price: 557, Category: wide
Name: ID: 39, Exactly., Price: 638, Category: wide
Name: ID: 47, Pretty happen., Price: 773, Category: wide
Name: ID: 53, American still., Price: 525, Category: wide
Name: ID: 58, Shoulder minute case., Price: 754, Category: wide
Name: ID: 60, Tonight leg., Price: 739, Category: wide
Name: ID: 65, Business society., Price: 453, Category: wide
Name: ID: 77, Part picture be., Price: 523, Category: wide
Name: ID: 90, Politics anything., Price: 733, Category: wide
Name: ID: 98, Blood list national., Price: 968, Category: wide

---

9. **Count Products in Each Category**:
   - Count the number of products in each category.

In [14]:
from peewee import fn

category_counts = (Products
                   .select(Products.category, fn.COUNT(Products.id).alias('count'))
                   .group_by(Products.category))

for count in category_counts:
    print(count.category.name, count.count)

wide 19
just 17
work 17
cold 22
Mrs 25

---

10. **Export Products into CSV**:
    - Export the product data to a CSV file.

In [15]:
import csv
with open('products.csv', 'w', newline='') as csvfile:
    product_writer = csv.writer(csvfile)

    product_writer.writerow(['ID', 'Name', 'Price', 'Category', 'Description'])

    for product in All_Products:
        product_writer.writerow([
            product.id,
            product.name,
            product.price,
            product.category.name,
            product.description
        ])
print(f"{product_writer}")

<_csv.writer object at 0x00000138C17F3F40>

---
---